* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/*End of CSS reset*/


body {
margin: 0;
height: 100vh;
width: 100vw;
background-color: #4343F9;
}

.topbtn {
display: inline-block;
justify-content: center;
align-items: center;
height: 40px;
width: 40px;
border: 1px;
border-radius: 40px;
background-color: #4343F9;
color: #4343F9;
box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}

.leftbtn {
display: flex;
justify-content: left;
align-items: flex-start;
height: 40px;
width: 40px;
border: 1px;
border-radius: 40px;
background-color: #4343F9;
color: #4343F9;
box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}

.centerbtn {
display: flex;
justify-content: center;
align-items: center;
left: 50%;
top: 50%;
width: 240px;
height: 360px;
border: auto;
border-radius: 0;
margin-left: 45%;
background-color:  #4343F9;	
box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}

.centerbtn h1 {
color: #FFF;
font-family: 'Montserrat', sans-serif; 
font-size: 30px;
}

.rightbtn {
display: flex;
justify-content: right;
align-items: flex-end;
height: 40px;
width: 40px;
border: 1px;
border-radius: 40px;
background-color: #4343F9;
color: #4343F9;
box-shadow: 0 0 20px rgba(0,0,0,0.2) ;
}

.bottombtn {
display: flex;
justify-content: center;
align-items: bottom;
left: 50%;
bottom: 5px;
margin-left: 45%;
height: 40px;
width: 40px;
border: 1px;
border-radius: 40px;
background-color: #4343F9;
color: #4343F9;
box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}