* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/*End of CSS reset*/

body {
margin: 0;
height: 100vh;
width: 100vw;
background-color: #4343F9;
}

.topbtn {
display: flex;
align-items: center; 
margin-top: 2%;;
margin-bottom: 10%;
margin-left: 47%;
height: 40px;
width: 40px;
border-radius: 40px;
background-color: #4343F9;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.leftbtn {
display: inline-block;
align-items: center;
margin-left: 2%;
height: 40px;
width: 40px;
border-radius: 40px;
background-color: #4343F9;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.centerbtn {
display: inline-block;
align-items: center;
height: 360px;
width: 240px;
margin: 5%, 40%, 5%, 40%; 
margin-left: 30%;
border-radius: 4px;
background-color:  #4343F9;	
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.centerbtn h1 {
color: #FFF;
font-family: 'Montserrat', sans-serif; 
font-size: 30px;
}

.rightbtn {
display: inline-block;
align-items: center;
margin-left: 30%;
height: 40px;
width: 40px;
border-radius: 40px;
background-color: #4343F9;
box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.bottombtn {
display: flex;
align-items: center;
margin-top: 10%;
margin-bottom: 2%;
margin-left: 47%;
height: 40px;
width: 40px;
border-radius: 40px;
background-color: #4343F9;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

